@media print
   {
    @page {
        size: A4;
    }
    body {
       margin-left: -0.5cm!important;
       margin-right: -0.5cm!important;
       padding: 0!important;
       font-size: 12pt;
    }

    img.avatar {
        // filter: grayscale(1);
        // -webkit-filter: greyscale(1);
    }

   
   .main-wrapper .time {
      float: right;
      color: black !important;
      -webkit-print-color-adjust: exact; 
   }
   .sidebar-wrapper .email {
      white-space: nowrap;
   }
   .main-wrapper .job-title {
      float: left;
      -webkit-print-color-adjust: exact; 
   }
   .main-wrapper .degree {
      float: left;
      -webkit-print-color-adjust: exact; 
   }
   
    .sidebar-wrapper {
        position: relative;
        bottom: 0;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .contact-list{
      a[href]:after {
         content: "";
      }
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .print {
      display: none;
   }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
       width: inherit;
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
